$color-light: #FFFFFF;
$color-background: #F6F6F6;
$color-cards-background: #FAFAFA;
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-text: #CDCDCD;
$color-text-dark:#292929;
$color-dark: #545454;
$color-subtitle: #545454;
